<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qubitech.barta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/barta_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/barta_logo"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/Theme.BartaMobileNewsApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailedNewsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Detailed News" />
        <activity
            android:name=".NewsHeadlinesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_news_headlines"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>